https://docs.google.com/spreadsheets/d/1mBWWVVzCupbjQeTlpXFfHflqTmsBK9rCBQ7QJNE7HdY/edit#gid=1892067801


A-Z PLACEMENT KIT LINK . ITS VERY IMPOIRTANT.

Technical Skills: Troubleshooting,  Network Configuration, Windows OS, Microsoft Office Suite, Python, 
Soft Skills: Communication, Teamwork, Problem-Solving, Attention to Detail, Time Management, Customer Service


12.20    14%

One of the kost saturated thuiungg thrinnnlkkjnbfd